@use "../../styles/partials/colors" as *;

.button {
  outline: none;
  color: inherit;
  border: 1px solid $primary;
  background: none;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}