@use "./styles/partials/colors" as *;
@use "./styles/partials/animations" as *;

.challenge {
  animation: popup 1s;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 5rem;
	height: 100%;

	&__title {
		background: linear-gradient(45deg, $primary1, $primary2);
		color: #eeeeee;
		margin: 0;
		padding: 1.5rem;
		font-size: 2.5rem;
	}

	&__description {
		font-size: 1.5rem;
	}

	&__container {
		display: flex;
		justify-content: center;
		gap: 5rem;
	}
}
